/*
New_Theme
*/

body {
  padding: 0;
  margin: 0;
  background: #444;
  background: transparent url("../img/background.jpg") no-repeat center top;
  background-size: cover;
  color: white;

}

.left {
  float: left;
}

.full-width {
  width: 100%;
}

.three-fourths {
  width: 75%;
}

.half {
  width: 50%;
}

.one-fourth {
  width: 25%;
}

.site-container .header-wrapper {
  width: 100%;
  height: 150px;
}
.site-container .container {
  position: relative;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}
.site-container .container .inner-container {
  padding: 1em;
}
.site-container .container .inner-container.title {
  padding-top: 0;
  padding-bottom: 0;
}
.site-container .container .inner-container.title h1 {
  margin: 0;
}
.site-container .menu-container img {
    float:left;
    padding:11px;
    padding-left: 10%;
}
.site-container .menu-container {
  background: #5C5C5C;
  text-align: right;
  height: 55px;
  border-bottom: 3px solid #fff;
  font-size: 220%;
}
.site-container .menu-container a {
    color: white;
}
.site-container .menu-container a:link {
    text-decoration: none;
}
.site-container .menu-container a:visited {
    text-decoration: none;
}

.site-container .menu-container ul {
  padding: 6px;
  margin: 0;
}
.site-container .menu-container ul li {
  display: inline-block;
  padding-right: .5em;
  margin-right: .5em;
  border-right: 1px;
}

.site-container .content img{
width:100%;
height: auto;
border:1px solid rgba(255, 255, 255, 0.8);;
}

.site-container .menu-container ul li:last-of-type {
  margin-right: 0;
  border: 0;
}
.site-container .content-container {
  border: 1px solid #fff;
  background: #fff;
  background: rgba(0, 0, 0, 0.8);
  margin-top: -5em;
  min-height: 500px;
}
.site-container .tab-container {
  margin: 0 1em 1em 1em;
}
.site-container .tab-container ul.tabs {
  padding: 0;
  margin: 0;
}
.site-container .tab-container ul.tabs li {
  display: inline-block;
  margin-right: .5em;
}
.site-container .tab-container ul.tabs li:last-of-type {
  margin: 0;
}
.site-container .main-content .content {
  padding-right: 1em;
}
.site-container .footer-container {
  margin-top: 40px;
  margin-bottom: 200px;
  text-align: center;
}
.site-container .footer-container p {
  color:white;
  font-size: 200%;
}
.site-container .region.right-column {
  position: absolute;
  padding:5px;
  top: 20%;
  left: 80%;
  background: rgba(150, 150, 150, 0.5);
  font-size: 150%;
}
.site-container .region.right-column .views-row{ 
  border-bottom: 2px solid white;
  padding:5px;

}

.site-container .region.right-column a {
    color: white;
    margin:20px;
}
.site-container .region.right-column a:link {
    text-decoration: none;
}
.site-container .region.right-column a:visited {
    text-decoration: none;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

.field-item img{
	width:100%;
	height:auto;
}
.frontimage{
display: block;
margin-left:auto;
margin-right:auto;
}