// import fonts
@import url(http://fonts.googleapis.com/css?family=Fenix|Righteous);

$primary-color: #444;

body{
    font-family: 'Fenix', serif;    
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Righteous';
}

.element-invisible{
    display: none;
}

.site-title{
    font-family: 'Righteous';
    font-size: 2em;
    p{
        margin: 0;
        color: #444;    
        padding: .25em;
        border: 1px solid #ccc;
        border-width: 0 0 1px 0;
    }
}

.tab-container{
    ul.tabs{
        border: 0;
        li{
            a{
                text-decoration: none;
                color: $primary-color;
                border: 1px solid #ccc;
                padding: .25em .5em;
                top: 1px;
                &.active{
                    background: #fff;
                    background: rgba(255,255,255,.70);
                    border: 1px solid #ccc;
                }
            }
        }
    }
}

.menu-wrapper{
    ul.menu, ul.links{
        li{
            a{
                color: $primary-color;
                font-family: 'Righteous';
                text-decoration: none;
                &:hover{
                    color: lighten($primary-color, 25%);
                }
            }
        }
        
    }
}

.region{
    &.right-column{
        .more{
            font-size: .8em;
            text-transform: uppercase;
        }
    }
}

.footer-content{
    font-size: .7em;
}
